<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Realize.insider" parallel="false">
    <test name="Fast_Suite">
        <classes>
            <class name="Tests.UI_Tests.TC001"/>
            <class name="Tests.API.TC_Requests"/>
        </classes>
    </test>
</suite>